<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Đăng ký tài khoản</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{../css/signupstyle.css}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container h-100">
    <div style="width: 350px; margin: 100px auto;">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img style="with: 100%; height: 100%" th:src="@{/image/logo1.jpg}"
                         class="brand_logo" alt="Logo">
                </div>
            </div>
<!--            <h2 style="color: navy; margin-top: 100px; margin-bottom: -90px; text-align: center; padding-bottom: 15px;">-->
<!--                ĐĂNG KÝ</h2>-->
            <div class="d-flex justify-content-center form_container">

                <form action="/account/signup" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username"
                               class="form-control input_user" th:value="${username}"
                               placeholder="Tên đăng nhập">
                    </div>
                    <div th:if="${checkUsername == true}"

                         style="color: red; margin: 10px 0px;">
                        [[${messageCheckUsername1}]]<br/>[[${messageCheckUsername2}]]

                    </div>
                    <div th:if="${checkUsernameNull == true}"
                         style="color: red; margin: 10px 0px;">
                        [[${messageUsername}]]
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="phone" class="form-control input_user"
                               th:value="${phone}" placeholder="Số điện thoại" minlength="10" maxLength="10">
                    </div>

                    <!-- CHECK PHONE -->
                    <div th:if="${checkPhone == true}"
                         style="color: red; margin: 10px 0px;">
                        [[${messageCheckPhone}]]<br/>

                    </div>
                    <div th:if="${phoneLength == true}"
                         style="color: red; margin: 10px 0px;">
                        [[${messageCheckPhoneLength}]]<br/>

                    </div>


<!--                    <div class="input-group mb-3">-->
<!--                        <div class="input-group-append">-->
<!--                            <span class="input-group-text"><i class="fas fa-user"></i></span>-->
<!--                        </div>-->
<!--                        <input type="text" name="phone" class="form-control input_user"-->
<!--                               th:value="${phone}" placeholder="Gmail" minlength="10" maxLength="10">-->
<!--                    </div>-->

                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="email" name="email"
                               class="form-control input_pass" value="" placeholder="Email">
                    </div>
                    <div th:if="${emptyEmail == true}"

                         style="color: red; margin: 10px 0px;">
                        [[${messageEmail}]]

                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password"
                               class="form-control input_pass" value="" placeholder="Mật khẩu">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="verifyPassword"
                               class="form-control input_pass" value=""
                               placeholder="Xác thực mật khẩu">
                    </div>
                    <div th:if="${failedPassword == true}"
                         style="color: red; margin: 10px 0px;">
                        [[${messageCheckPass}]]<br/>

                    </div>
                    <div th:if="${emptyPassword== true}"
                         style="color: red; margin: 10px 0px;">
                        [[${messagePass}]]<br/>

                    </div>

                    <!-- <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Remember me</label>
                        </div>
                    </div> -->
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button name="button" type="submit" class="btn login_btn"><b>Đăng
                            ký
                        </b></button>
                    </div>
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Bạn đã có tài khoản? <a href="/account/login" class="ml-2">Đăng nhập</a>
                        </div>
                    </div>
                </form>

            </div>


        </div>
    </div>
</div>


<!-- BOOTSTRAP LINK -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>